body{
  display: block;

}

.navbar {
  background-color: #001d3d;
  overflow: visible;
}


.navbar a {
  float: none;
  color: rgb(231, 219, 219);
}

nav ul li a{
  color: #a9a9a9;
  font-size: 40px;
  margin-left: 50%;
}

a.nav-link:hover{
color: red;
}

a.dropdown-item{
  color: black;
}
a.dropdown-item:hover{
  color: blue;
}

 h1 {
  font-family: Georgia, 'Times New Roman', Times, serif; 
  font-size: 5rem !important;
} 
